# Data Science Notebook

## Introduction
In this notebook, we will explore various aspects of data science, including languages, libraries, and tools commonly used in the field. We will also showcase some arithmetic examples and work with code cells to perform basic operations.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Java

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch


## Data Science Tools

| Tool         | Category          | Language  |
|--------------|-------------------|-----------|
| Jupyter      | IDE               | Python    |
| RStudio      | IDE               | R         |
| TensorFlow   | Machine Learning  | Python    |
| PyTorch      | Machine Learning  | Python    |
| Hadoop       | Big Data          | Java      |
| SQL          | Database          | SQL       |

## Arithmetic Expression Examples
In this section, we will demonstrate some basic arithmetic operations using Python code, including multiplication and addition.

In [ ]:

# Multiplying and adding numbers
a = 5
b = 10
result = (a * b) + 20
result

In [ ]:

# Convert minutes to hours
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

convert_minutes_to_hours(120)  # Convert 120 minutes to hours

## Objectives
- Understand and list data science languages.
- Learn about commonly used data science libraries.
- Work with arithmetic expressions in Python.
- Explore data science tools and their uses.

## Author
This notebook was created by Ankita Varma.